#main {
    width: 100vw;
    height: 100vh;
    background-color: var(--darker-background-colour);
    transition: 0.3s
}

.nav-bar {
    background-color: var(--primary-background-colour);
    transition: 0.3s
}

.aside {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding-top: 5rem;
    padding-right: 15rem;
    padding-bottom: auto;
    padding-left: 3rem;
    gap: 2rem;
    font-size: 1.5rem;
    background-color: var(--diminished-background-colour);
    height: 100%;
    transition: 0.3s
}

.aside-container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
}