

.dark-mode {
    background-color: white;
    color: var(--primary-background-colour);
    transition: 0.5s;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: var(--primary-background-colour);
    color: var(--primary-text-colour);
    transition: 0.5s;
}


.image-text-container {
  vertical-align: middle;
  align-items: center;
}

.white-text {
    color: white;
}

.transparent {
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10000;
  position: absolute;
}

.slide-in {
  position: relative;
  animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-container {
    position: relative;
    text-align:center;
    height: 100%;
    margin: 0;
  
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: black;
}

.float-right {
  margin-left:auto;
  margin-right:20px;
}
