.main-container {
    width: 100%;
}

.article-section {
    display: flex;
    margin: auto;
}

.main-article {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.side-bar {
    width: 25%;
    height: auto;
    min-height: 5rem;
    background-color: var(--diminished-background-colour);
    order: 2;
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0px;
}

.side-bar a {
    color: rgb(98, 200, 235);
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none !important;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    position: sticky;
}

.side-bar a:hover {
    color: rgb(42, 152, 189);
    font-size: 1.6rem;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.side-bar a:after {
    font: var(--fa-font-solid);
    font-weight: 900;
    content: "\f0c1";
    margin-left: 0.5rem;
}

.overview-section {
    margin-bottom: 5rem;
}

.main-article-image {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    user-select: none;
    -webkit-user-drag: none
}

.article-title {
    font-size: 5rem;
    margin: 2rem;
}

.article-description {
    font-size: 1.4rem;
}

.feature-box-container {
    height: auto;
    width: 100%;
    display: flex;
    margin: 2rem 0rem;
    overflow-x: scroll;
    justify-content: safe center;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    gap: 2rem;
}

.feature-box {
    --size: 20rem;
    height: auto;
    width: var(--size);
    background-color: var(--diminished-background-colour);
    border-radius: 1rem;
    text-align: left;
    padding: 0rem 2rem;
    flex: 0 0 calc(var(--size));
    min-width: calc(var(--size));
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none; 
}

.feature-box h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    padding-bottom: 0rem;
}



@media (max-width: 760px) {
    .article-section {
        flex-direction: column;
    }

    .side-bar {
        order: inherit;
        margin: 2rem auto;
        width: 80%;
    }

    .main-article {
        margin: auto;
        width: 80%;
    }
}